{% extends admin.getTemplate('base_list_field') %}
{% block field %}
    <div class="show-color">
        <div class="color-box" style="background-color: {{ value }};"></div>
    </div>
{% endblock %}