# Docker
laradock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
/.php_cs.dist
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml.dist
###< symfony/phpunit-bridge ###

bin/console
bin/phpunit
pipeline.txt

# Eclipse
.buildpath
.phpunit.result.cache
.project
.settings
vendor
