# app data
config/db/private_data.sql
# app generated
config/services_sonata.yaml
src/Admin/*Admin.php
src/Entity/*.php

# Docker
laradock

public/images/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
/.php_cs.dist
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml.dist
###< symfony/phpunit-bridge ###

bin/console
bin/phpunit
pipeline.txt

# Eclipse
.buildpath
.phpunit.result.cache
.project
.settings
vendor

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
