<?php

namespace App\Entity;

use App\Entity\Traits\FullnameTrait;
use Doctrine\ORM\Mapping as ORM;
use \DateTime;
use \DateTimeInterface;

/**
 * Contactpersoon
 *
 * @ORM\Table(name="contactpersoon")
 * @ORM\Entity
 */
class Contactpersoon extends \App\Entity\AbstractEntity\AbstractEntity
{
    use FullnameTrait;
    
    public function __construct()
    {
        $this->dateofbirth = new DateTime();
    }
    /**
     * @var string|null
     *
     * @ORM\Column(name="searchname", type="string", length=255, nullable=true)
     */
    private $searchname;

    /**
     * @var string|null
     *
     * @ORM\Column(name="title", type="string", length=255, nullable=true)
     */
    private $title;

    /**
     * @var bool|null
     *
     * @ORM\Column(name="showoncompanycard", type="boolean", nullable=true)
     */
    private $showoncompanycard;

    /**
     * @var \DateTime|null
     *
     * @ORM\Column(name="dateofbirth", type="date", nullable=true)
     */
    private $dateofbirth;

    /**
     * @var string|null
     *
     * @ORM\Column(name="notes", type="string", length=255, nullable=true)
     */
    private $notes;

    /**
     * @var bool|null
     *
     * @ORM\Column(name="active", type="boolean", nullable=true)
     */
    private $active = true;

    /**
     * @var string|null
     *
     * @ORM\Column(name="email", type="string", length=255, nullable=true)
     */
    private $email;

    /**
     * @var string|null
     *
     * @ORM\Column(name="phone", type="string", length=255, nullable=true)
     */
    private $phone;

    /**
     * @var string|null
     *
     * @ORM\Column(name="mobile", type="string", length=255, nullable=true)
     */
    private $mobile;

    /**
     * @var string|null
     *
     * @ORM\Column(name="department", type="string", length=255, nullable=true)
     */
    private $department;

    /**
     * @var string|null
     *
     * @ORM\Column(name="function", type="string", length=255, nullable=true)
     */
    private $function;

    /**
     * @var Bedrijf
     *
     * @ORM\ManyToOne(targetEntity="App\Entity\Bedrijf")
     * @ORM\JoinColumn(name="company", referencedColumnName="id")
     */
    private $company;

    /**
     * @var string|null
     *
     * @ORM\Column(name="salutation", type="string", length=0, nullable=true)
     */
    private $salutation;

    /**
     * @var string|null
     *
     * @ORM\Column(name="initials", type="string", length=255, nullable=true)
     */
    private $initials;

    /**
     * @var string|null
     *
     * @ORM\Column(name="firstname", type="string", length=255, nullable=true)
     */
    private $firstname;

    /**
     * @var string|null
     *
     * @ORM\Column(name="infix", type="string", length=255, nullable=true)
     */
    private $infix;

    /**
     * @var string|null
     *
     * @ORM\Column(name="lastname", type="string", length=255, nullable=true)
     */
    private $lastname;

    /**
     * @var string|null
     *
     * @ORM\Column(name="extendedproperties", type="string", length=255, nullable=true)
     */
    private $extendedproperties;

    /**
     * @var int|null
     *
     * @ORM\Column(name="tags", type="bigint", nullable=true)
     */
    private $tags;

    public function getSearchname(): ?string
    {
        return $this->searchname;
    }

    public function setSearchname(?string $searchname): self
    {
        $this->searchname = $searchname;

        return $this;
    }

    public function getTitle(): ?string
    {
        return $this->title;
    }

    public function setTitle(?string $title): self
    {
        $this->title = $title;

        return $this;
    }

    public function getShowoncompanycard(): ?bool
    {
        return $this->showoncompanycard;
    }

    public function setShowoncompanycard(?bool $showoncompanycard): self
    {
        $this->showoncompanycard = $showoncompanycard;

        return $this;
    }

    public function getDateofbirth(): ?\DateTimeInterface
    {
        return $this->dateofbirth;
    }

    public function setDateofbirth(?\DateTimeInterface $dateofbirth): self
    {
        $this->dateofbirth = $dateofbirth;

        return $this;
    }

    public function getNotes(): ?string
    {
        return $this->notes;
    }

    public function setNotes(?string $notes): self
    {
        $this->notes = $notes;

        return $this;
    }

    public function getActive(): ?bool
    {
        return $this->active;
    }

    public function setActive(?bool $active): self
    {
        $this->active = $active;

        return $this;
    }

    public function getEmail(): ?string
    {
        return $this->email;
    }

    public function setEmail(?string $email): self
    {
        $this->email = $email;

        return $this;
    }

    public function getPhone(): ?string
    {
        return $this->phone;
    }

    public function setPhone(?string $phone): self
    {
        $this->phone = $phone;

        return $this;
    }

    public function getMobile(): ?string
    {
        return $this->mobile;
    }

    public function setMobile(?string $mobile): self
    {
        $this->mobile = $mobile;

        return $this;
    }

    public function getDepartment(): ?string
    {
        return $this->department;
    }

    public function setDepartment(?string $department): self
    {
        $this->department = $department;

        return $this;
    }

    public function getFunction(): ?string
    {
        return $this->function;
    }

    public function setFunction(?string $function): self
    {
        $this->function = $function;

        return $this;
    }

    public function getCompany(): ?Bedrijf
    {
        return $this->company;
    }

    public function setCompany(Bedrijf $company): self
    {
        $this->company = $company;

        return $this;
    }

    public function getSalutation(): ?string
    {
        return $this->salutation;
    }

    public function setSalutation(?string $salutation): self
    {
        $this->salutation = $salutation;

        return $this;
    }

    public function getInitials(): ?string
    {
        return $this->initials;
    }

    public function setInitials(?string $initials): self
    {
        $this->initials = $initials;

        return $this;
    }

    public function getFirstname(): ?string
    {
        return $this->firstname;
    }

    public function setFirstname(?string $firstname): self
    {
        $this->firstname = $firstname;

        return $this;
    }

    public function getInfix(): ?string
    {
        return $this->infix;
    }

    public function setInfix(?string $infix): self
    {
        $this->infix = $infix;

        return $this;
    }

    public function getLastname(): ?string
    {
        return $this->lastname;
    }

    public function setLastname(?string $lastname): self
    {
        $this->lastname = $lastname;

        return $this;
    }

    public function getExtendedproperties(): ?string
    {
        return $this->extendedproperties;
    }

    public function setExtendedproperties(?string $extendedproperties): self
    {
        $this->extendedproperties = $extendedproperties;

        return $this;
    }

    public function getTags(): ?int
    {
        return $this->tags;
    }

    public function setTags(?int $tags): self
    {
        $this->tags = $tags;

        return $this;
    }

    public function __toString()
    {
        $company = ($this->getCompany()) ? ' | '.$this->getCompany() : '';
        return $this->getName().$company;
    }
}
