<?php

namespace App\Entity;

use ApiPlatform\Core\Annotation\ApiResource;
use Doctrine\ORM\Mapping as ORM;

/**
 * Pakket
 *
 * @ApiResource
 * @ORM\Table(name="pakket")
 * @ORM\Entity
 */
class Pakket extends \App\Entity\AbstractEntity\AbstractEntity
{
    /**
     * @var string|null
     *
     * @ORM\Column(name="name", type="string", length=255, nullable=true)
     */
    private $name;

    /**
     * @var int|null
     *
     * @ORM\Column(name="number", type="bigint", nullable=true)
     */
    private $number;

    /**
     * @var int|null
     *
     * @ORM\Column(name="groupcategory", type="bigint", nullable=true)
     */
    private $groupcategory;

    /**
     * @var string|null
     *
     * @ORM\Column(name="description", type="text", length=65535, nullable=true)
     */
    private $description;

    /**
     * @var string|null
     *
     * @ORM\Column(name="description_raw", type="text", length=65535, nullable=true)
     */
    private $descriptionRaw;

    /**
     * @var string|null
     *
     * @ORM\Column(name="description_formatter", type="string", length=255, nullable=true, options={"default"="markdown"})
     */
    private $descriptionFormatter = 'markdown';

    /**
     * @var int|null
     *
     * @ORM\Column(name="unit", type="bigint", nullable=true)
     */
    private $unit;

    /**
     * @var string|null
     *
     * @ORM\Column(name="internalnote", type="string", length=255, nullable=true)
     */
    private $internalnote;

    /**
     * @var bool|null
     *
     * @ORM\Column(name="hidedetails", type="boolean", nullable=true)
     */
    private $hidedetails;

    /**
     * @var bool|null
     *
     * @ORM\Column(name="usepriceexceptionscustomer", type="boolean", nullable=true)
     */
    private $usepriceexceptionscustomer;

    /**
     * @var int|null
     *
     * @ORM\Column(name="tags", type="bigint", nullable=true)
     */
    private $tags;

    /**
     * @var int|null
     *
     * @ORM\Column(name="packetlines", type="bigint", nullable=true)
     */
    private $packetlines;

    /**
     * @var string|null
     *
     * @ORM\Column(name="taken", type="string", length=255, nullable=true)
     */
    private $taken;

    /**
     * @var string|null
     *
     * @ORM\Column(name="extendedproperties", type="string", length=255, nullable=true)
     */
    private $extendedproperties;

    public function getName(): ?string
    {
        return $this->name;
    }

    public function setName(?string $name): self
    {
        $this->name = $name;

        return $this;
    }

    public function getNumber(): ?int
    {
        return $this->number;
    }

    public function setNumber(?int $number): self
    {
        $this->number = $number;

        return $this;
    }

    public function getGroupcategory(): ?int
    {
        return $this->groupcategory;
    }

    public function setGroupcategory(?int $groupcategory): self
    {
        $this->groupcategory = $groupcategory;

        return $this;
    }

    public function getDescription(): ?string
    {
        return $this->description;
    }

    public function setDescription(?string $description): self
    {
        $this->description = $description;

        return $this;
    }

    public function getDescriptionRaw(): ?string
    {
        return $this->descriptionRaw;
    }

    public function setDescriptionRaw(?string $descriptionRaw): self
    {
        $this->descriptionRaw = $descriptionRaw;

        return $this;
    }

    public function getDescriptionFormatter(): ?string
    {
        return $this->descriptionFormatter;
    }

    public function setDescriptionFormatter(?string $descriptionFormatter): self
    {
        $this->descriptionFormatter = $descriptionFormatter;

        return $this;
    }

    public function getUnit(): ?int
    {
        return $this->unit;
    }

    public function setUnit(?int $unit): self
    {
        $this->unit = $unit;

        return $this;
    }

    public function getInternalnote(): ?string
    {
        return $this->internalnote;
    }

    public function setInternalnote(?string $internalnote): self
    {
        $this->internalnote = $internalnote;

        return $this;
    }

    public function getHidedetails(): ?bool
    {
        return $this->hidedetails;
    }

    public function setHidedetails(?bool $hidedetails): self
    {
        $this->hidedetails = $hidedetails;

        return $this;
    }

    public function getUsepriceexceptionscustomer(): ?bool
    {
        return $this->usepriceexceptionscustomer;
    }

    public function setUsepriceexceptionscustomer(?bool $usepriceexceptionscustomer): self
    {
        $this->usepriceexceptionscustomer = $usepriceexceptionscustomer;

        return $this;
    }

    public function getTags(): ?int
    {
        return $this->tags;
    }

    public function setTags(?int $tags): self
    {
        $this->tags = $tags;

        return $this;
    }

    public function getPacketlines(): ?int
    {
        return $this->packetlines;
    }

    public function setPacketlines(?int $packetlines): self
    {
        $this->packetlines = $packetlines;

        return $this;
    }

    public function getTaken(): ?string
    {
        return $this->taken;
    }

    public function setTaken(?string $taken): self
    {
        $this->taken = $taken;

        return $this;
    }

    public function getExtendedproperties(): ?string
    {
        return $this->extendedproperties;
    }

    public function setExtendedproperties(?string $extendedproperties): self
    {
        $this->extendedproperties = $extendedproperties;

        return $this;
    }


}
