<?php

namespace App\Entity;

use ApiPlatform\Core\Annotation\ApiResource;
use Doctrine\ORM\Mapping as ORM;

/**
 * Taaktype
 *
 * @ApiResource
 * @ORM\Table(name="taaktype")
 * @ORM\Entity(repositoryClass="App\Repository\TaaktypeRepository")
 */
class Taaktype extends \App\Entity\AbstractEntity\AbstractPhaseEntity
{
    const API_NAME = 'tasktype';
}
