<?php

namespace App\Entity;

use ApiPlatform\Core\Annotation\ApiResource;
use Doctrine\ORM\Mapping as ORM;

/**
 * Taaktype
 *
 * @ApiResource
 * @ORM\Table(name="taaktype")
 * @ORM\Entity
 */
class Taaktype extends \App\Entity\AbstractEntity\AbstractPhaseEntity
{}