<?php

namespace App\Entity;

use ApiPlatform\Core\Annotation\ApiResource;
use Doctrine\ORM\Mapping as ORM;

/**
 * Taakfase
 *
 * @ApiResource
 * @ORM\Table(name="taakfase")
 * @ORM\Entity
 */
class Taakfase extends \App\Entity\AbstractEntity\AbstractPhaseEntity
{

}
