<?php

namespace App\Entity;

use ApiPlatform\Core\Annotation\ApiResource;
use Doctrine\ORM\Mapping as ORM;

/**
 * Tag
 *
 * @ApiResource
 * @ORM\Table(name="tag")
 * @ORM\Entity
 */
class Tag extends \App\Entity\AbstractEntity\AbstractNameAndExtendedPropertiesEntity
{

}
