{% trans_default_domain 'flash' %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}
