{% extends sonata_block.templates.block_base %}
{% block style %}
   <style type="text/css">
    #visualization {
      width: 600px;
      height: 400px;
      border: 1px solid lightgray;
    }
  </style> 
 {% endblock %}

{% block block %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Tijdlijn</h4>
        </div>

        <div class="panel-body">
            <div class="media">
                {% if timelineentries %}
                    <div class="media-body">
                	<div id="visualization" data-dataset="{{ timelineentries }}"></div>
                    </div>
                {% else %}
                    No timelineentries available.
                {% endif %}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('timeline') }}
{% endblock %}