<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;

final class BedrijfAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('searchname')
            ->add('identity')
            ->add('website')
            ->add('notes')
            ->add('invoicesendto')
            ->add('invoiceaddressCompanyname')
            ->add('invoiceaddressAttn')
            ->add('invoiceaddressStreet')
            ->add('invoiceaddressStreetnumber')
            ->add('invoiceaddressAddressline2')
            ->add('invoiceaddressZipcode')
            ->add('invoiceaddressCity')
            ->add('invoiceaddressCountry')
            ->add('customernumber')
            ->add('bankaccount')
            ->add('bankascription')
            ->add('bankcity')
            ->add('bic')
            ->add('externalreference')
            ->add('additionaltermofpayment')
            ->add('termofpayment')
            ->add('termofpaymentPurchaseinvoice')
            ->add('invoicesendby')
            ->add('invoiceemail')
            ->add('vatnumber')
            ->add('vatshifted')
            ->add('vat')
            ->add('cocnumber')
            ->add('foundationdate')
            ->add('active')
            ->add('postaddress')
            ->add('postaddressStreet')
            ->add('postaddressStreetnumber')
            ->add('postaddressAddressline2')
            ->add('postaddressZipcode')
            ->add('postaddressCity')
            ->add('postaddressCountry')
            ->add('visitingaddressStreet')
            ->add('visitingaddressAddressline2')
            ->add('visitingaddressStreetnumber')
            ->add('visitingaddressZipcode')
            ->add('visitingaddressCity')
            ->add('visitingaddressCountry')
            ->add('visitingaddressLng')
            ->add('visitingaddressLat')
            ->add('email')
            ->add('phone')
            ->add('mobile')
            ->add('relationtype')
            ->add('accountmanager')
            ->add('companyname')
            ->add('salutation')
            ->add('initials')
            ->add('title')
            ->add('firstname')
            ->add('infix')
            ->add('lastname')
            ->add('screenname')
            ->add('extendedproperties')
            ->add('paymentmethod')
            ->add('paymentmethodPurchaseinvoice')
            ->add('tags')
            ->add('companyroles')
            ->add('files')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->tab('Algemeen')
                ->add('searchname')
                ->add('identity')
                ->add('website')
                ->add('notes')
                ->add('customernumber')
                ->add('externalreference')
                ->add('additionaltermofpayment')
                ->add('termofpayment')
                ->add('termofpaymentPurchaseinvoice')
                ->add('invoicesendby')
                ->add('invoiceemail')
                ->add('vatnumber')
                ->add('vatshifted')
                ->add('vat')
                ->add('cocnumber')
                ->add('foundationdate', \Sonata\Form\Type\DatePickerType::class)
                ->add('active')
                ->add('screenname')
                ->add('companyroles')
                ->add('files')
                ->end()
            ->end()
            ->tab('Factuuradres')
                ->add('invoicesendto')
                ->add('invoiceaddressCompanyname')
                ->add('invoiceaddressAttn')
                ->add('invoiceaddressStreet')
                ->add('invoiceaddressStreetnumber')
                ->add('invoiceaddressAddressline2')
                ->add('invoiceaddressZipcode')
                ->add('invoiceaddressCity')
                ->add('invoiceaddressCountry')
                ->end()
            ->end()
            ->tab('Bank')
                ->add('bankaccount')
                ->add('bankascription')
                ->add('bankcity')
                ->add('bic')
                ->end()
            ->end()
            ->tab('Postadres')
                ->add('postaddress')
                ->add('postaddressStreet')
                ->add('postaddressStreetnumber')
                ->add('postaddressAddressline2')
                ->add('postaddressZipcode')
                ->add('postaddressCity')
                ->add('postaddressCountry')
                ->end()
            ->end()
            ->tab('Bezoekadres')
                ->add('visitingaddressStreet')
                ->add('visitingaddressAddressline2')
                ->add('visitingaddressStreetnumber')
                ->add('visitingaddressZipcode')
                ->add('visitingaddressCity')
                ->add('visitingaddressCountry')
                ->add('visitingaddressLng')
                ->add('visitingaddressLat')
                ->end()
            ->end()
            ->tab('Contact')
                ->add('email')
                ->add('phone')
                ->add('mobile')
                ->end()
            ->end()
            ->tab('Naam')
                ->add('relationtype')
                ->add('accountmanager')
                ->add('companyname')
                ->add('salutation')
                ->add('initials')
                ->add('title')
                ->add('firstname')
                ->add('infix')
                ->add('lastname')
                ->end()
            ->end()
                ->tab('Uitgebreide eigenschappen')
                ->add('extendedproperties')
                ->end()
            ->end()
            ->tab('Betaal gegevens')
                ->add('paymentmethod')
                ->add('paymentmethodPurchaseinvoice')
                ->end()
            ->end()
            ->tab('Tags')
                ->add('tags')
                ->end()
            ->end()
        ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('searchname')
            ->add('identity')
            ->add('website')
            ->add('notes')
            ->add('invoicesendto')
            ->add('invoiceaddressCompanyname')
            ->add('invoiceaddressAttn')
            ->add('invoiceaddressStreet')
            ->add('invoiceaddressStreetnumber')
            ->add('invoiceaddressAddressline2')
            ->add('invoiceaddressZipcode')
            ->add('invoiceaddressCity')
            ->add('invoiceaddressCountry')
            ->add('customernumber')
            ->add('bankaccount')
            ->add('bankascription')
            ->add('bankcity')
            ->add('bic')
            ->add('externalreference')
            ->add('additionaltermofpayment')
            ->add('termofpayment')
            ->add('termofpaymentPurchaseinvoice')
            ->add('invoicesendby')
            ->add('invoiceemail')
            ->add('vatnumber')
            ->add('vatshifted')
            ->add('vat')
            ->add('cocnumber')
            ->add('foundationdate')
            ->add('active')
            ->add('postaddress')
            ->add('postaddressStreet')
            ->add('postaddressStreetnumber')
            ->add('postaddressAddressline2')
            ->add('postaddressZipcode')
            ->add('postaddressCity')
            ->add('postaddressCountry')
            ->add('visitingaddressStreet')
            ->add('visitingaddressAddressline2')
            ->add('visitingaddressStreetnumber')
            ->add('visitingaddressZipcode')
            ->add('visitingaddressCity')
            ->add('visitingaddressCountry')
            ->add('visitingaddressLng')
            ->add('visitingaddressLat')
            ->add('email')
            ->add('phone')
            ->add('mobile')
            ->add('relationtype')
            ->add('accountmanager')
            ->add('companyname')
            ->add('salutation')
            ->add('initials')
            ->add('title')
            ->add('firstname')
            ->add('infix')
            ->add('lastname')
            ->add('screenname')
            ->add('extendedproperties')
            ->add('paymentmethod')
            ->add('paymentmethodPurchaseinvoice')
            ->add('tags')
            ->add('companyroles')
            ->add('files')
            ;
    }
}
