<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;

final class ContactAdmin extends \App\Admin\AbstractAdmin\AbstractVCardAdmin
{
    public function __construct(
        $code,
        $class,
        $baseControllerName
    ) {
        parent::__construct($code, $class, $baseControllerName, 'firstname');
    }
    
    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        parent::configureDatagridFilters($datagridMapper);
        $datagridMapper
            ->add('company')
            ->add('firstname')
            ->add('lastname')
        ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        parent::configureListFields($listMapper);
        $listMapper
            ->add('email', null, [
                'template' => 'bundles/SonataAdminBundle/link_email.html.twig',
            ])
            ->add('name')
            ->add('department')
            ->add('function')
            ->add('company')
            ->add('mobile')
            ->add('phone')
            ->add('tags')
        ;
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->tab('Name')
                ->add('salutation', \Symfony\Component\Form\Extension\Core\Type\ChoiceType::class, ['choices' => $this->getEnum(strtolower(substr(get_class($this->getSubject()), strrpos(get_class($this->getSubject()), '\\')+1)), 'salutation')])
                ->add('title')
                ->add('initials')
                ->add('firstname')
                ->add('infix')
                ->add('lastname')
                ->end()
            ->end()
            ->tab('Company')
                ->add('company')
                ->add('department')
                ->add('function')
                ->add('showoncompanycard')
                ->end()
            ->end()
            ->tab('Contact')
                ->add('email')
                ->add('active')
                ->add('mobile')
                ->add('phone')
                ->end()
            ->end()
            ->tab('Birthday')
                ->add('dateofbirth', \Sonata\Form\Type\DatePickerType::class)
                ->end()
            ->end()
            ->tab('Notes')
                ->add('notes')
                ->end()
            ->end()
            ->tab('Uitgebreide eigenschappen')
                ->add('extendedproperties')
                ->end()
            ->end()
            ->tab('Tags')
                ->add('tags')
                ->end()
            ->end()
            ;
    }
}
