<?php

declare(strict_types=1);

namespace App\Admin;

use App\Admin\AbstractAdmin\AbstractVCardAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;

final class ContactpersoonAdmin extends AbstractVCardAdmin
{
    public function __construct(
        $code,
        $class,
        $baseControllerName
    ) {
        parent::__construct($code, $class, $baseControllerName, 'firstname');
    }
    
    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        parent::configureDatagridFilters($datagridMapper);
        $datagridMapper
            ->add('firstname')
            ->add('lastname')
            ->add('email')
            ->add('company.companyname')
        ;
    }
    
    protected function configureListFields(ListMapper $listMapper): void
    {
        parent::configureListFields($listMapper);
        $listMapper
            ->add('email', null, [
                'template' => 'bundles/SonataAdminBundle/link_email.html.twig',
            ])
            ->add('name')
            ->add('function')
            ->add('company')
            ->add('phone')
            ->add('mobile')
            ->add('tags')
        ;
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('searchname')
            ->add('title')
            ->add('showoncompanycard')
            ->add('dateofbirth', \Sonata\Form\Type\DatePickerType::class)
            ->add('notes')
            ->add('active')
            ->add('email')
            ->add('phone')
            ->add('mobile')
            ->add('department')
            ->add('function')
            ->add('company')
            ->add('salutation')
            ->add('initials')
            ->add('firstname')
            ->add('infix')
            ->add('lastname')
            ->add('extendedproperties')
            ->add('tags')
        ;
    }
}
