<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;

final class FactuurAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('templateset')
            ->add('validfor')
            ->add('searchname')
            ->add('status')
            ->add('number')
            ->add('date')
            ->add('reportdate')
            ->add('subject')
            ->add('totalpayed')
            ->add('paymentmethod')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('clientreference')
            ->add('addhoursspecification')
            ->add('description')
            ->add('isbasis')
            ->add('expirydate')
            ->add('totalincldiscountexclvat')
            ->add('totalopeninclvat')
            ->add('extendedproperties')
            ->add('tags')
            ->add('files')
            ->add('totalbuyingincldiscountexclvat')
            ->add('invoicelines')
            ->add('payments')
            ->add('totalinclvat')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('templateset')
            ->add('validfor')
            ->add('searchname')
            ->add('status')
            ->add('number')
            ->add('date', DatePickerType::class)
            ->add('reportdate', DatePickerType::class)
            ->add('subject')
            ->add('totalpayed')
            ->add('paymentmethod')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('clientreference')
            ->add('addhoursspecification')
            ->add('description')
            ->add('isbasis')
            ->add('expirydate', DatePickerType::class)
            ->add('totalincldiscountexclvat')
            ->add('totalopeninclvat')
            ->add('extendedproperties')
            ->add('tags')
            ->add('files')
            ->add('totalbuyingincldiscountexclvat')
            ->add('invoicelines')
            ->add('payments')
            ->add('totalinclvat')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('templateset')
            ->add('validfor')
            ->add('searchname')
            ->add('status')
            ->add('number')
            ->add('date')
            ->add('reportdate')
            ->add('subject')
            ->add('totalpayed')
            ->add('paymentmethod')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('clientreference')
            ->add('addhoursspecification')
            ->add('description')
            ->add('isbasis')
            ->add('expirydate')
            ->add('totalincldiscountexclvat')
            ->add('totalopeninclvat')
            ->add('extendedproperties')
            ->add('tags')
            ->add('files')
            ->add('totalbuyingincldiscountexclvat')
            ->add('invoicelines')
            ->add('payments')
            ->add('totalinclvat')
            ;
    }
}
