<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;

final class InkoopbetalingAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('ordering')
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('ordering')
            ->add('searchname')
            ->add('purchaseinvoice')
            ->add('date')
            ->add('amount')
            ->add('notes')
            ->add('extendedproperties')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('ordering')
            ->add('searchname')
            ->add('purchaseinvoice')
            ->add('date', DatePickerType::class)
            ->add('amount')
            ->add('notes')
            ->add('extendedproperties')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('ordering')
            ->add('searchname')
            ->add('purchaseinvoice')
            ->add('date')
            ->add('amount')
            ->add('notes')
            ->add('extendedproperties')
            ;
    }
}
