<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;

final class InkoopopdrachtAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('templateset')
            ->add('searchname')
            ->add('name')
            ->add('number')
            ->add('phase')
            ->add('deadline')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('date')
            ->add('description')
            ->add('workdeliveraddress')
            ->add('clientreference')
            ->add('archived')
            ->add('archivedon')
            ->add('extendedproperties')
            ->add('tags')
            ->add('employees')
            ->add('employeesStarred')
            ->add('purchaseorderstatus')
            ->add('totalincldiscountexclvat')
            ->add('supplier')
            ->add('files')
            ->add('purchaseorderlines')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('templateset')
            ->add('searchname')
            ->add('name')
            ->add('number')
            ->add('phase')
            ->add('deadline', DatePickerType::class)
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('date', DatePickerType::class)
            ->add('description')
            ->add('workdeliveraddress')
            ->add('clientreference')
            ->add('archived')
            ->add('archivedon', DatePickerType::class)
            ->add('extendedproperties')
            ->add('tags')
            ->add('employees')
            ->add('employeesStarred')
            ->add('purchaseorderstatus')
            ->add('totalincldiscountexclvat')
            ->add('supplier')
            ->add('files')
            ->add('purchaseorderlines')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('templateset')
            ->add('searchname')
            ->add('name')
            ->add('number')
            ->add('phase')
            ->add('deadline')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('date')
            ->add('description')
            ->add('workdeliveraddress')
            ->add('clientreference')
            ->add('archived')
            ->add('archivedon')
            ->add('extendedproperties')
            ->add('tags')
            ->add('employees')
            ->add('employeesStarred')
            ->add('purchaseorderstatus')
            ->add('totalincldiscountexclvat')
            ->add('supplier')
            ->add('files')
            ->add('purchaseorderlines')
            ;
    }
}
