<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;

final class MijnurenAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('searchname')
            ->add('task')
            ->add('status')
            ->add('date')
            ->add('description')
            ->add('amount')
            ->add('employee')
            ->add('offerprojectbase')
            ->add('offerprojectline')
            ->add('authorizedon')
            ->add('authorizedby')
            ->add('definitiveby')
            ->add('definitiveon')
            ->add('extendedproperties')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('searchname')
            ->add('task')
            ->add('status')
            ->add('date', DatePickerType::class)
            ->add('description')
            ->add('amount')
            ->add('employee')
            ->add('offerprojectbase')
            ->add('offerprojectline')
            ->add('authorizedon', DatePickerType::class)
            ->add('authorizedby')
            ->add('definitiveby')
            ->add('definitiveon', DatePickerType::class)
            ->add('extendedproperties')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('searchname')
            ->add('task')
            ->add('status')
            ->add('date')
            ->add('description')
            ->add('amount')
            ->add('employee')
            ->add('offerprojectbase')
            ->add('offerprojectline')
            ->add('authorizedon')
            ->add('authorizedby')
            ->add('definitiveby')
            ->add('definitiveon')
            ->add('extendedproperties')
            ;
    }
}
