<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;

final class OfferteAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('template')
            ->add('searchname')
            ->add('name')
            ->add('date')
            ->add('validfor')
            ->add('deadline')
            ->add('number')
            ->add('phase')
            ->add('acceptancestatus')
            ->add('acceptedon')
            ->add('isbasis')
            ->add('totalinclvat')
            ->add('signingenabled')
            ->add('validity')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('chance')
            ->add('description')
            ->add('workdeliveraddress')
            ->add('subject')
            ->add('accountmanager')
            ->add('status')
            ->add('clientreference')
            ->add('archived')
            ->add('archivedon')
            ->add('extendedproperties')
            ->add('extrapdf1')
            ->add('extrapdf2')
            ->add('files')
            ->add('frequency')
            ->add('expectedterms')
            ->add('sendmaxtimescheckbox')
            ->add('sendmaxtimes')
            ->add('renewautomatically')
            ->add('renewperiods')
            ->add('paymentmethod')
            ->add('tags')
            ->add('employees')
            ->add('employeesStarred')
            ->add('offerlines')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('template')
            ->add('searchname')
            ->add('name')
            ->add('date', DatePickerType::class)
            ->add('validfor')
            ->add('deadline', DatePickerType::class)
            ->add('number')
            ->add('phase')
            ->add('acceptancestatus')
            ->add('acceptedon', DatePickerType::class)
            ->add('isbasis')
            ->add('totalinclvat')
            ->add('signingenabled')
            ->add('validity')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('chance')
            ->add('description')
            ->add('workdeliveraddress')
            ->add('subject')
            ->add('accountmanager')
            ->add('status')
            ->add('clientreference')
            ->add('archived')
            ->add('archivedon', DatePickerType::class)
            ->add('extendedproperties')
            ->add('extrapdf1')
            ->add('extrapdf2')
            ->add('files')
            ->add('frequency')
            ->add('expectedterms')
            ->add('sendmaxtimescheckbox')
            ->add('sendmaxtimes')
            ->add('renewautomatically')
            ->add('renewperiods')
            ->add('paymentmethod')
            ->add('tags')
            ->add('employees')
            ->add('employeesStarred')
            ->add('offerlines')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('template')
            ->add('searchname')
            ->add('name')
            ->add('date')
            ->add('validfor')
            ->add('deadline')
            ->add('number')
            ->add('phase')
            ->add('acceptancestatus')
            ->add('acceptedon')
            ->add('isbasis')
            ->add('totalinclvat')
            ->add('signingenabled')
            ->add('validity')
            ->add('company')
            ->add('contact')
            ->add('identity')
            ->add('chance')
            ->add('description')
            ->add('workdeliveraddress')
            ->add('subject')
            ->add('accountmanager')
            ->add('status')
            ->add('clientreference')
            ->add('archived')
            ->add('archivedon')
            ->add('extendedproperties')
            ->add('extrapdf1')
            ->add('extrapdf2')
            ->add('files')
            ->add('frequency')
            ->add('expectedterms')
            ->add('sendmaxtimescheckbox')
            ->add('sendmaxtimes')
            ->add('renewautomatically')
            ->add('renewperiods')
            ->add('paymentmethod')
            ->add('tags')
            ->add('employees')
            ->add('employeesStarred')
            ->add('offerlines')
            ;
    }
}
