<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DatePickerType;
use Sonata\Form\Type\DateTimePickerType;

final class TaakAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('searchname')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('searchname')
            ->add('type')
            ->add('deadlinedate')
            ->add('deadlinetime')
            ->add('description')
            ->add('content')
            ->add('number')
            ->add('phase')
            ->add('company')
            ->add('offerprojectbase')
            ->add('offerprojectline')
            ->add('estimatedhours')
            ->add('completedon')
            ->add('extendedproperties')
            ->add('files')
            ->add('calendaritems')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('searchname')
            ->add('type')
            ->add('deadlinedate', DatePickerType::class)
            ->add('deadlinetime', DateTimePickerType::class, [
                'format' => 'kk:mm',
                'dp_use_seconds' => false,
                'dp_pick_date' => false,
                'dp_pick_time' => true,
            ])
            ->add('description')
            ->add('content')
            ->add('number')
            ->add('phase')
            ->add('company')
            ->add('offerprojectbase')
            ->add('offerprojectline')
            ->add('estimatedhours')
            ->add('completedon', DatePickerType::class)
            ->add('extendedproperties')
            ->add('files')
            ->add('calendaritems')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('searchname')
            ->add('type')
            ->add('deadlinedate')
            ->add('deadlinetime')
            ->add('description')
            ->add('content')
            ->add('number')
            ->add('phase')
            ->add('company')
            ->add('offerprojectbase')
            ->add('offerprojectline')
            ->add('estimatedhours')
            ->add('completedon')
            ->add('extendedproperties')
            ->add('files')
            ->add('calendaritems')
            ;
    }
}
