<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;

final class TagAdmin extends \App\Admin\AbstractAdmin\AbstractAdmin
{
    public function __construct(
        $code,
        $class,
        $baseControllerName
    ) {
        parent::__construct($code, $class, $baseControllerName, 'name');
    }
    
    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        parent::configureDatagridFilters($datagridMapper);
//         $datagridMapper
//             ->add('searchname')
//         ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        parent::configureListFields($listMapper);
        $listMapper
            ->add('name')
        ;
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('name')
            ->add('extendedproperties')
        ;
    }
}
