<?php

declare(strict_types=1);

namespace App\Admin;

use Sonata\AdminBundle\Admin\AbstractAdmin;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\Form\Type\DateTimePickerType;

final class TimelineentryAdmin extends AbstractAdmin
{

    protected function configureDatagridFilters(DatagridMapper $datagridMapper): void
    {
        $datagridMapper
            ->add('id')
            ->add('searchname')
            ->add('employee')
            ->add('date')
            ->add('message')
            ->add('timelinetype')
            ->add('company')
            ->add('contact')
            ->add('offer')
            ->add('project')
            ->add('invoice')
            ->add('purchaseinvoice')
            ->add('purchaseorder')
            ->add('contract')
            ->add('task')
            ->add('starred')
            ->add('extendedproperties')
            ->add('files')
            ->add('createdat')
            ->add('updatedat')
            ;
    }

    protected function configureListFields(ListMapper $listMapper): void
    {
        $listMapper
            ->add('id')
            ->add('searchname')
            ->add('employee')
            ->add('date')
            ->add('message')
            ->add('timelinetype')
            ->add('company')
            ->add('contact')
            ->add('offer')
            ->add('project')
            ->add('invoice')
            ->add('purchaseinvoice')
            ->add('purchaseorder')
            ->add('contract')
            ->add('task')
            ->add('starred')
            ->add('extendedproperties')
            ->add('files')
            ->add('createdat')
            ->add('updatedat')
            ->add('_action', null, [
                'actions' => [
                    'show' => [],
                    'edit' => [],
                    'delete' => [],
                ],
            ]);
    }

    protected function configureFormFields(FormMapper $formMapper): void
    {
        $formMapper
            ->add('id')
            ->add('searchname')
            ->add('employee')
            ->add('date', DateTimePickerType::class)
            ->add('message')
            ->add('timelinetype')
            ->add('company')
            ->add('contact')
            ->add('offer')
            ->add('project')
            ->add('invoice')
            ->add('purchaseinvoice')
            ->add('purchaseorder')
            ->add('contract')
            ->add('task')
            ->add('starred')
            ->add('extendedproperties')
            ->add('files')
            ->add('createdat')
            ->add('updatedat')
            ;
    }

    protected function configureShowFields(ShowMapper $showMapper): void
    {
        $showMapper
            ->add('id')
            ->add('searchname')
            ->add('employee')
            ->add('date')
            ->add('message')
            ->add('timelinetype')
            ->add('company')
            ->add('contact')
            ->add('offer')
            ->add('project')
            ->add('invoice')
            ->add('purchaseinvoice')
            ->add('purchaseorder')
            ->add('contract')
            ->add('task')
            ->add('starred')
            ->add('extendedproperties')
            ->add('files')
            ->add('createdat')
            ->add('updatedat')
            ;
    }
}
